.App {
  
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .header-container-wrapper {
    position: fixed;
    min-height: 40px;
    width: 100%;
      .row-fluid-wrapper {
        .row-fluid {
            .header-section {
                padding: 10px 140px;
                .nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .nav-left {
                        display: flex;
                        align-items: center;
                        .heart-icon {
                            width: 28px;
                            margin-right: 10px;
                        }
                        .nav-options {
                            .nav-link {
                                padding: 0px 10px;
                            }
                            .nav-link:hover {
                                color: #789;
                                cursor: pointer;
                              }
                        }
                    }
                    .nav-right {
                        display: flex;
                        align-items: center;
                        .notification-wrp {
                            margin-right: 10px;
                            .notification {
                                position: relative;
                                .mail-icon {
                                    width: 35px;
                                    height: 24px;
                                    margin-right: 13px;
                                }
                                .green-dot {
                                    position: absolute;
                                    background-color: purple;
                                    width: 5px;
                                    height: 5px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    border: 1px solid purple;
                                    top: -2px;
                                    right: 12px;
                                }
                            }
                        }
                    }
                    .nav-item {
                        color: white;
                        .highlight {
                            color: purple;
                        }
                    }
                }
            }

        }
      }
  }
  .fitness-main-view {
      .header-section {
          min-height: 250px;
        .header-center {
            justify-content: center;
            padding-top: 70px;
            .heading {
                color: white;
                font-size: 30px;
                .highlight {
                    color: greenyellow;
                    font-style: italic;
                }
            }
            .search-wrapper {
                width: 537px;
                margin: 0 auto;
                .search-input {
                    padding: 6px 10px;
                    width: 400px;
                    height: 38px;
                    border-radius: 5px;
                    float: left;
                    color: black;
                    border: none;
                    box-sizing: border-box;
                }
                .btn-submit {
                    height: 38px;
                    width: 120px;
                    border: none;
                    border-radius: 5px;
                    float: right;
                    color: white;
                    background-color: purple; 
                }
            }
        }
      }
      .schedule-fitness-wrp {
          padding: 0px 140px;
        .ui.secondary.pointing.menu {
            margin-top: -80px;
            background-color: white;
            border-radius: 5px;
            height: 80px;
        }
        .ui.secondary.pointing.menu .item {
            width: 120px;
            height: 100px;
        }
      }

  }
  