@import "mixins.scss";

.header-container-wrapper {
    position: fixed;
    min-height: 40px;
    width: 100%;
      .row-fluid-wrapper {
        .row-fluid {
            .header-section {
                padding: 10px 140px;
                .nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .nav-left {
                        display: flex;
                        align-items: center;
                        .heart-icon {
                            width: 28px;
                            margin-right: 10px;
                        }
                        .nav-options {
                            .nav-link {
                                padding: 0px 10px;
                            }
                            .nav-link:hover {
                                color: #789;
                                cursor: pointer;
                              }
                        }
                    }
                    .nav-right {
                        display: flex;
                        align-items: center;
                        .notification-wrp {
                            margin-right: 10px;
                            .notification {
                                position: relative;
                                .mail-icon {
                                    width: 35px;
                                    height: 24px;
                                    margin-right: 13px;
                                }
                                .green-dot {
                                    position: absolute;
                                    background-color: #7063d3;
                                    width: 5px;
                                    height: 5px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    border: 1px solid #7063d3;
                                    top: -2px;
                                    right: 12px;
                                }
                            }
                        }
                    }
                    .nav-item {
                        color: white;
                        .highlight {
                            color: #7063d3;
                        }
                    }
                }
            }
        }
      }
  }
  .fitness-main-view {
      .header-section {
          min-height: 250px;
          @media screen and (min-width: 768px) {
            min-height:  370px;
        }
        .header-center {
            justify-content: center;
            padding-top: 70px;
            @media screen and (min-width: 768px) {
                padding-top: 115px;
            }
            .heading {
                font-size: 16px;
                color: white;
                @media screen and (min-width: 768px) {
                    font-size: 30px;
                }
                .highlight {
                    color: greenyellow;
                    font-style: italic;
                }
            }
            .search-wrapper {
                display: flex;
                text-align: center;
                margin: 0 auto;
                justify-content: space-between;
                padding: 20px;
                font-size: 12px;
                @media screen and (min-width: 768px) {
                    width: 537px;
                    padding: unset;
                    font-size: 14px;
                }
                .search-input {
                    width: 239px;
                    height: 30px;
                    margin-right: 20px;
                    padding: 6px 10px;
                    border-radius: 5px;
                    float: left;
                    color: black;
                    border: none;
                    box-sizing: border-box;
                    font-size: 10px;
                    @media screen and (min-width: 768px){
                        width: 400px;
                        height: 38px;
                        font-size: 14px;
                        margin-right: unset;
                    }
                }
            }
        }
      }
      .schedule-fitness-wrp {
          padding: 0px 20px;
          .ui.segment {
            padding: 0px;
            border: none;
          }
        @media screen and (min-width: 768px) {
            padding: 0px 80px;
        }
        @media screen and (min-width: 1440px) {
            padding: 0px 140px;
        }
        .ui.secondary.pointing.menu {
            margin-top: -50px; 
            height: 80px; 
            background-color: white;
            border-radius: 5px;
            @media screen and (min-width: 768px) {
                margin-top: -80px; 
                height: 110px; 
            }
            .item {
                height: inherit;
                display: inline-grid;
                justify-content: stretch;
                flex-grow: 1;
                flex-shrink: 1;
                text-align: center;
                cursor: pointer;
            }
            .active.item {
                border-bottom: 2px solid #7063d3;
                background-color: #ffffff;
                box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
                z-index: 2;
                background: white;
                height: 90px;
                top: 5px;
                @media screen and (min-width: 768px) {
                    height: 125px;
                }
            }
        }
        .ui.menu .item>i.icon {
            margin: 7px auto !important;
            display: table-header-group;
            @media screen and (min-width: 768px) {
                font-size: 3em !important;
            }
        }
        .schedule-fitness-view {
            .fitness-card-wrp {
                width: 100%;
                padding: 1em 0px;
                margin: 0 auto;
                flex-wrap: wrap;
                @include space-between();
                .fitness-card {
                    height: 280px;
                    position: relative;
                    padding: 11px;
                    margin-bottom: 40px;
                    border-radius: 4px;
                    background-color: #fff;
                    box-shadow: 0 7px 13px 0 rgba(24,29,58,.05);
                    border: 1px solid #f3f3f3;
                    width: 100%;
                    max-width: 100%;
                    @media screen and (min-width: 768px) {
                        width: 48%;
                        max-width: 100%;
                    }
                    @media screen and (min-width: 1440px) {
                        width: 32%;
                    }
                    .sub-heading {
                        font-size: 12px;
                        @media screen and (min-width: 1024px) {
                            font-size: 14px;
                        }
                        @media screen and (min-width: 1440px) {
                            font-size: 16px;
                        }
                    }
                    .sub-content {
                        font-size: 10px;
                        @media screen and (min-width: 1024px) {
                            font-size: 12px;
                        }
                    }
                    .card-top-section {
                        @include space-between();
                        .card-image {
                            width: 80px;
                            height: 80px;
                            border-radius: 5px;
                            position: absolute;
                            top: -15px;
                            @media screen and (min-width: 1024px) {
                                width: 120px;
                                height: 120px;
                            }
                            .fitness-poster {
                                width: inherit;
                                height: inherit;
                            }
                        }
                        .card-description {
                            margin-left: 100px;
                            font-size: 10px;
                            @media screen and (min-width: 1024px) {
                                margin-left: 145px;
                                font-size: 12px;
                            }
                            .created-by {
                                font-weight: 600;
                                color: gray;
                            }
                        }
                    }
                    .card-mid-section {
                        @include space-between();
                        margin-top: 10px;
                    }
                    .card-bottom-section {
                        @include space-between();
                        margin-top: 10px;
                         .active-members {
                            font-size: 10px;
                            @media screen and (min-width: 1024px) {
                                font-size: 14px;
                            }
                            .profile-circle {
                                width: 33px;
                                height: 33px;
                                @media screen and (min-width: 1024px) { 
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            span:nth-child(n+2) { 
                                margin-left: -15px; 
                            }       
                            .member-count {
                                top: -11px;
                                width: 33px;
                                height: 33px;
                                border-radius: 50%;
                                font-size: 12px;
                                justify-content: center;
                                align-items: center;
                                display: inline-flex;
                                position: relative;
                                @media screen and (min-width: 1024px) { 
                                    top: -15px;
                                    width: 40px;
                                    height: 40px;
                                }
                            }                 
                         }
                         .btn-submit {
                            @media screen and (max-width: 768px) { 
                                width: 80px;
                            }
                         }
                    }
                }
            }
        }
      }

  }
  