@import "mixins.scss";

.header-container-wrapper {
    position: fixed;
    min-height: 40px;
    width: 100%;
      .row-fluid-wrapper {
        .row-fluid {
            .header-section {
                padding: 10px 140px;
                .nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .nav-left {
                        display: flex;
                        align-items: center;
                        .heart-icon {
                            width: 28px;
                            margin-right: 10px;
                        }
                        .nav-options {
                            .nav-link {
                                padding: 0px 10px;
                            }
                            .nav-link:hover {
                                color: #789;
                                cursor: pointer;
                              }
                        }
                    }
                    .nav-right {
                        display: flex;
                        align-items: center;
                        .notification-wrp {
                            margin-right: 10px;
                            .notification {
                                position: relative;
                                .mail-icon {
                                    width: 35px;
                                    height: 24px;
                                    margin-right: 13px;
                                }
                                .green-dot {
                                    position: absolute;
                                    background-color: purple;
                                    width: 5px;
                                    height: 5px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    border: 1px solid purple;
                                    top: -2px;
                                    right: 12px;
                                }
                            }
                        }
                    }
                    .nav-item {
                        color: white;
                        .highlight {
                            color: purple;
                        }
                    }
                }
            }
        }
      }
  }
  .fitness-main-view {
      .header-section {
          min-height: 250px;
        .header-center {
            justify-content: center;
            padding-top: 70px;
            .heading {
                color: white;
                font-size: 30px;
                .highlight {
                    color: greenyellow;
                    font-style: italic;
                }
            }
            .search-wrapper {
                width: 537px;
                margin: 0 auto;
                .search-input {
                    padding: 6px 10px;
                    width: 400px;
                    height: 38px;
                    border-radius: 5px;
                    float: left;
                    color: black;
                    border: none;
                    box-sizing: border-box;
                }
                .btn-submit {
                    height: 38px;
                    width: 120px;
                    border: none;
                    border-radius: 5px;
                    float: right;
                    color: white;
                    background-color: purple; 
                }
            }
        }
      }
      .schedule-fitness-wrp {
          padding: 0px 30px;
          .ui.segment {
            padding: 0px;
            border: none;
          }
          @media screen and (min-width: 768px) {
            padding: 0px 80px;
        }
        @media screen and (min-width: 1440px) {
            padding: 0px 140px;
        }
        .ui.secondary.pointing.menu {
            margin-top: -80px;
            background-color: white;
            border-radius: 5px;
            height: 80px;
        }
        .ui.secondary.pointing.menu .item {
            width: 120px;
            height: 100px;
        }
        .schedule-fitness-view {
            .fitness-card-wrp {
                width: 100%;
                padding: 1em 0px;
                margin: 0 auto;
                flex-wrap: wrap;
                @include space-between();
                .fitness-card {
                    width: 98%;
                    max-width: 450px;
                    height: 280px;
                    position: relative;
                    padding: 11px;
                    margin-bottom: 30px;
                    border-radius: 4px;
                    background-color: #fff;
                    box-shadow: 0 7px 13px 0 rgba(24,29,58,.05);
                    border: 1px solid #f3f3f3;
                    @media screen and (min-width: 768px) {
                        width: 48%;
                    }
                    @media screen and (min-width: 1440px) {
                        width: 31.31%;
                    }
                    .card-top-section {
                        @include space-between();
                        .card-image {
                            width: 120px;
                            border-radius: 5px;
                            height: 120px;
                            position: absolute;
                            top: -15px;
                            .fitness-poster {
                                width: inherit;
                                height: inherit;
                            }
                        }
                        .card-description {
                            margin-left: 145px;
                        }
                    }
                    .card-mid-section {
                        @include space-between();
                    }
                    .card-bottom-section {
                        @include space-between();
                         .active-members {
                            font: 14px;
                            .profile-circle {
                                width: 40px;
                                height: 40px;
                            }
                            span {
                                // width:40px;
                                // height: 40px;
                                // border-radius: 50%;
                                // border: 2px solid white;
                                // display: inline-block;
                                // position: relative;
                                // box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
                                // -webkit-transition: .2s ease;
                                // transition: .2s ease;
                            }
                            span:nth-child(n+2) { 
                                margin-left: -15px; 
                            }       
                            .member-count {
                                top: -15px;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                font-size: 12px;
                                justify-content: center;
                                align-items: center;
                                display: inline-flex;
                                position: relative;
                            }                 
                         }
                    }
                }
            }
        }
      }

  }
  