.row-fluid  {
  width: 100%;
}
.top-center {
  background-position: top center;
}
.background-cover {
  background-size: cover;
  height: inherit;
}
.profile-circle {
  background-color: azure;
  border: 1px solid azure;
  border-radius: 50%;
  width: 30px;
  margin-right: 6px;
  height: 30px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-center {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
.no-page {
  @include flex-center();
  color: black;
  height: 80vh;
  font-size: 40px;
}
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: gray;
}
 
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.btn-submit {
  height: 38px;
  width: 120px;
  border: none;
  border-radius: 5px;
  float: right;
  color: white;
  background-color: #7063d3; 
}
.mute {
  font-weight: 300;
}
.bold {
  font-weight: 600;
}