.header-view {
  height: 70px;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #002642;
  box-shadow: 2px 3.5px 9.5px 0.5px rgba(107, 106, 128, 0.1);
  z-index: 1000;
  padding: auto;
  display: flex; }
  .header-view .header-title {
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    text-shadow: 1.5px 2.6px 5px rgba(40, 40, 74, 0.2);
    margin: auto;
    color: white; }

.content-heading {
  padding-left: 20px; }
  @media screen and (min-width: 768px) {
    .content-heading {
      padding-left: 30px; } }

.loader-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 70px; }
  .loader-wrapper .loader,
  .loader-wrapper .loader:before,
  .loader-wrapper .loader:after {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out; }
  .loader-wrapper .loader {
    color: #3498db;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .loader-wrapper .loader:before,
  .loader-wrapper .loader:after {
    content: '';
    position: absolute;
    top: 0; }
  .loader-wrapper .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .loader-wrapper .loader:after {
    left: 3.5em; }

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

.empty-state-wrapper .no-data-text {
  padding: 50px;
  text-align: center;
  font-size: 14px;
  color: #929fa6; }

.chat-app-home .chat-app-container {
  display: flex;
  height: 100vh; }
  .chat-app-home .chat-app-container .friend-list-container {
    min-width: 30%;
    border-right: 1px solid #e5e5e5;
    height: 100vh;
    position: relative;
    overflow: hidden; }
    .chat-app-home .chat-app-container .friend-list-container .search-bar {
      background-color: #fbfbfb;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .chat-app-home .chat-app-container .friend-list-container .search-bar input {
        padding: 8px;
        width: 100%;
        border: 1px solid #e5e5e5;
        text-overflow: ellipsis;
        overflow: hidden; }
    .chat-app-home .chat-app-container .friend-list-container .friend-name-wrapper {
      display: flex;
      background-color: white;
      border-bottom: 1px solid #e5e5e5;
      padding: 10px; }
      .chat-app-home .chat-app-container .friend-list-container .friend-name-wrapper .profile-image {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center; }
      .chat-app-home .chat-app-container .friend-list-container .friend-name-wrapper .friend-name {
        flex-grow: 1;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .chat-app-home .chat-app-container .chat-message-container {
    width: 70%;
    height: 100vh;
    position: relative;
    padding: 10px; }
    .chat-app-home .chat-app-container .chat-message-container .chat-message-wrp {
      max-height: 420px;
      min-height: 420px;
      overflow-y: auto; }
      .chat-app-home .chat-app-container .chat-message-container .chat-message-wrp .chat-messages .message-wrp .message {
        min-width: 110px;
        background-color: white;
        width: 250px;
        padding: 6px 7px 8px 9px;
        margin-bottom: 5px; }
        .chat-app-home .chat-app-container .chat-message-container .chat-message-wrp .chat-messages .message-wrp .message .username {
          display: flex;
          font-size: 12.5px;
          font-weight: 600;
          color: #512da8;
          line-height: 22px; }
        .chat-app-home .chat-app-container .chat-message-container .chat-message-wrp .chat-messages .message-wrp .message .message-content {
          color: #262626;
          font-size: 14px;
          position: relative;
          white-space: pre-wrap;
          word-wrap: break-word; }
      .chat-app-home .chat-app-container .chat-message-container .chat-message-wrp .chat-messages .message-wrp.from-me {
        display: flex;
        justify-content: flex-end; }
        .chat-app-home .chat-app-container .chat-message-container .chat-message-wrp .chat-messages .message-wrp.from-me .message {
          margin-bottom: 5px;
          background-color: #ede7f6; }
    .chat-app-home .chat-app-container .chat-message-container .message-input-wrp {
      background-color: #efefef;
      padding: 5px 10px;
      margin-top: 20px;
      position: absolute;
      width: 90%; }
      .chat-app-home .chat-app-container .chat-message-container .message-input-wrp .message-input {
        background-color: #ffffff;
        border-color: #fff;
        border-radius: 21px;
        border-style: solid;
        border-width: 1px;
        padding: 9px 12px 11px 12px;
        margin: 5px 10px;
        width: 90%; }
    .chat-app-home .chat-app-container .chat-message-container .loader-wrapper {
      position: relative; }

.login-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .login-container .username-wrapper {
    margin-top: 50px; }
    .login-container .username-wrapper .username {
      position: relative;
      height: 2.5rem;
      font-size: 1rem;
      background-color: white;
      padding: 0px 1rem;
      border-width: 1px;
      border-color: transparent;
      border-radius: 2px;
      margin: 20px; }
    .login-container .username-wrapper .btn-wrapper .submit-btn {
      color: #300d4f;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      display: flex;
      line-height: 2.25rem;
      background-color: #e9edf6;
      padding: 0px 1.125rem;
      margin: auto;
      border-radius: 3px;
      border-style: solid;
      border-color: #e9edf6; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
  height: 100%;
  overflow: hidden; }
