@mixin multi-line-ellipsis($width) {
  overflow: hidden;
  text-overflow: ellipsis;
  width: $width;
  white-space: nowrap;
}

@mixin profile-img-circle($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin space-between() {
  display: flex;
  justify-content: space-between;
}
